### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.metadata
bin/
tmp/
.tmpBin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea_modules

### NetBeans ###
nbproject/private/
nbbuild/
/dist/
nbdist/
.nb-gradle/

### OSX ###
.DS_Store

### MyIgnores ###
generated/
build/
.gradle
.cache-main
.cache-tests
docs-src/
